{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <br>

    <h2>How We Started</h2>
    <p>COVID-19 has presented us with unique challenges. Many of us are saddened by the situation around us, but we want to be here to put
        a smile on everyones face. We hope that our quiz helps you unlock your inner-Charzard and get some laughs. 
    </p>

    <br>

    <h2>Who We Are</h2>
    <p>Margo: KPOP expert, Twitter Queen, and a Charmander</p>
    <p>Michael: An avid Pokemon Go player and a bulbasaur.</p>

    <h2>Special Thanks</h2>
    <p>Thank you to the following people for all your help along the way</p>

    <ul>
        <li>Professor Rosetti</li>
        <li>Francis Moran</li>
        <li>John DeGioia</li>
        <li>Georgetown's Pokemon Go Group</li>
        <li>You! For checking us out and supporting our project.</li>
    </ul>


{% endblock %}
