{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}
    <style>
        body {
        background-color: rgb(255, 203, 5);
        }
    </style>
    <img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png" alt="Pokemon Logo" class="center"/>

    <h1>About Us</h1>

    <br>

    <h2>How We Started</h2>
    <p>We hope that you are all staying safe during the ongoing pandemic. COVID-19 has presented us with unique challenges.
        Many of us are saddened by the situation around us and feel isolated. However, we are all in this together and we in OPIM 244 want to be here to put
        a smile on everyone's face. We hope that our quiz helps you unlock your inner-Charzard and get some laughs. 
    </p>

    <br>

    <h2>Who We Are</h2>
    <p>Margo: KPOP expert, Twitter Queen, and a Charmander</p>
    <p>Michael: Pokemon Go player, Avatar the Last Airbender fan, and a Bulbasaur.</p>

    <h2>Special Thanks!!</h2>
    <p>Thank you to the following people for all your help along the way :) </p>

    <ul>
        <li>Professor Rosetti</li>
        <li>Francis Moran</li>
        <li>John DeGioia</li>
        <li>Georgetown's Pokemon Go Group</li>
        <li>You! For checking us out and supporting our project.</li>
    </ul>


{% endblock %}
