{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <style>
        body {
        background-color: rgb(255, 203, 5);
        }
    </style>
    <img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png" alt="Pokemon Logo" class="center"/>


    <h1>Welcome to our Pokemon Horoscope</h1>

    <p>Take our Quiz and find out what Pokemon you are</p>

    <ul>
        <li>Are you Charmander?</li>
        <li>Are you Squirtle?</li>
        <li>Now is the time to find out.</li>
    </ul>

{% endblock %}