{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <style>
        body {
        background-color: rgb(255, 203, 5);
        }
    </style>
    <img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png" alt="Pokemon Logo" class="center"/>


    <h1>Welcome to The Pokemon Horoscope</h1>

    <p>Take our quiz and discover your inner Pokémon!</p>

    <ul>
        <li>Are you a Charmander?</li>
        <li>Are you a Squirtle?</li>
        <li>There is only one way to find out!</li>
    </ul>

    <button type="button" onclick="location.href='quiz'">Take the Quiz!</button>
{% endblock %}