{% extends "bootstrap_layout.html" %}
{% set active_page = "quiz" %}

{% block content %}

  <style>
    body {
    background-color: rgb(255, 203, 5);
    }
  </style>
  <img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png" alt="Pokemon Logo" class="center"/>
  
  <br/>
  <br>
  
  <h2>Take the quiz!</h2>
  <br/>

  <form action="/results" method="POST">

    <label>What is your favorite color?</label>
    <select name="choice1">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="yellow">Yellow</option>
    </select>
    <br/>
    <br/>

    <label>What is your favorite season?</label>
    <select name="choice2">
      <option value="fall">Fall</option>
      <option value="winter">Winter</option>
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
    </select>
    <br/>
    <br/>

    <label>What is your favorite food?</label>
    <select name="choice3">
      <option value="pizza">Pizza</option>
      <option value="tacos">Tacos</option>
      <option value="noodles">Noodles</option>
      <option value="nugs">Chicken Nuggets</option>
    </select>
    <br/>
    <br/>

    <label>What is your favorite animal?</label>
    <select name="choice4">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="monkey">Monkey</option>
      <option value="tiger">Tiger</option>
    </select>
    <br/>
    <br/>

    <label>What element do you most identify with?</label>
    <select name="choice5">
      <option value="earth">Earth</option>
      <option value="wind">Wind</option>
      <option value="fire">Fire</option>
      <option value="water">Water</option>
    </select>
    <br/>
    <br/>

    <button>Submit</button>
  </form>
{% endblock %}
